APP_ENV=dev
HOST=0.0.0.0
PORT=8080

DB_DRIVER=mysql
DB_DSN=root:password@tcp(127.0.0.1:3306)/rainbow?charset=utf8mb4&parseTime=True&loc=Local

JWT_SECRET=replace_with_a_strong_secret
JWT_EXPIRES_IN=7200

ADMIN_USERNAME=admin
ADMIN_PASSWORD=change_me

ALLOW_ORIGINS=http://localhost:3000,http://localhost:5173

UPLOAD_ROOT=./uploads/dev
UPLOAD_IMAGE_MAX_SIZE=52428800
UPLOAD_AUDIO_MAX_SIZE=52428800
UPLOAD_VIDEO_MAX_SIZE=524288000

ENABLE_PUBLIC_SCENE_OVERRIDE=false

WECHAT_MINIPROGRAM_APP_ID=wx_your_app_id
WECHAT_MINIPROGRAM_APP_SECRET=your_wechat_app_secret
WECHAT_JSCODE2SESSION_URL=https://api.weixin.qq.com/sns/jscode2session
WECHAT_USER_TOKEN_EXPIRES_IN=2592000

ARK_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
ARK_API_KEY=
ARK_MODEL=
ARK_TIMEOUT_SECONDS=60
